@import '../../../styles/variables';
@import '../../../styles/functions';

.welcome__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green-standart;
  width: adapt(343px, 375px);
  height: adapt(56px, 375px);
  border-radius: adapt(16px, 375px);
  color: #fff;
  font-size: adapt(17px, 375px);
  font-weight: 590;
}

.welcome__button:active {
background-color: $color-green-hover;
}

.welcome__background {
  margin: 0 adapt(-16px, 375px);
  margin-top: adapt(-18px, 375px);
  width: adapt(375px, 375px);
}

.welcome__heading {
  margin-top: adapt(15px, 375px);
  font-weight: 590;
  font-size: adapt(28px, 375px);
  color: $color-black-text;
}

.welcome__text {
  margin-bottom: adapt(20px, 375px);
  margin-top: adapt(8px, 375px);
  font-weight: 400;
  font-size: adapt(17px, 375px);
  color: $color-black-light;
  line-height: adapt(23px, 375px);
  width: adapt(360px, 375px);
}

.welcome__link {
  font-weight: 590;
  text-decoration: underline;
  color: $color-orange-dark;
}