$color-green-standart: rgb(144, 191, 10);
$color-black: rgb(44, 56, 40);
$color-green-light: rgba(144, 191, 10, 0.1);
$color-pale-green: rgb(233, 242, 206);
$color-lime: rgb(142, 198, 71);
$color-yellow: rgb(242, 218, 10);
$color-red:rgb(203, 49, 40);
$color-grey-cards:rgb(246, 246, 246);
$color-orange-dark: rgb(217, 143, 0);