@import '../../styles/functions';
@import '../../styles/fonts';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: adapt(4px, 375px) 0px;
	height: adapt(56px, 375px);
	width: 100%;
}
