@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/fonts';

.button__add {
  border-radius: adapt(16px, 375px);
  padding: adapt(10px, 375px) adapt(32px, 375px);
  width: 100%;
  height: adapt(56px, 375px);
  background-color: $color-grey-disable;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 590;
  font-family: 'SF-Pro-Display-Semibold', sans-serif;
}